@import "tailwindcss";

@theme {
  --color-primary: #0ea5e9;
  --color-dark: #0f172a;
  --color-darker: #020617;
  --color-card: #1e293b;
  --font-sans: "Inter", sans-serif;
}

@layer base {
  body {
    @apply bg-darker text-slate-200 font-sans antialiased;
  }
}

html {
  scroll-behavior: smooth;
}
